<h2>Pokemon</h2>
<h3>Discover a new Pokemon <a href="pokemons/new"> (+)</a></h3>

  <% @pokemons.each do |pokemon| %>
    <p>
      <a href="/pokemons/<%= pokemon.id %>">
        <%= pokemon.name %>
      </a>
    </p>


  <% end %>
