<h2>Discovered a new Pokemon</h2>

<div class="pokemon">
<form action="/pokemons" method="post" >
  <p><label>Name:</label></p>
  <input type="text" name="name">

  <p><label>Type:</label></p>
  <input type="text" name="poke_type">

  <p><input type="submit" value="Add">
</div></p>
</form>
<h3>Back<a href="/pokemons">(<)</a></h3>
