<h2><a href="/pokemons">All Pokemon</a></h2>
<div class="pokemon">
  <p>Pokemon Name: <%= @pokemon.name %></p>
  <p>Pokemon Type: <%= @pokemon.poke_type %></p>
  <p>Pokemon CP: <%= @pokemon.cp %></p>
  <p><img src="<%= @pokemon.img_url %>"></p>
</div>
